@tailwind base;
@tailwind components;
@tailwind utilities;

input{
    color: black !important;
    border-radius: 5px;
    padding: 5px;
}
input:focus-visible, select:focus-visible {
    outline: none;
}

label, strong{
    color: rgb(229 231 235);
}

select{
    border-radius: 5px;
}

table, th, td{
    border:1px solid white;
    padding: 15px;
}